<section class="comments">
  <a id="comments"></a>
  <header>
    <h1 class="post-title">
      <span class="post-title-icon">
        <svg class="icon icon-bubbles">
          <use xlink:href="#icon-bubbles"></use>
        </svg>
      </span>
      <span class="post-title-text">Commentaires</span>
    </h1>
  </header>

  {%- for comment in page.comments -%}
  <section class="comment {{ comment | comment_class_author: "", "comment-owner" }}">
    <div class="{{ comment.author | comment_class_author: "comment-meta-outer", "comment-owner-left" }}">
    <div class="comment-meta-icon">
      <span>
        <svg class="icon icon-bubble">
          <use xlink:href="#icon-bubble"></use>
        </svg>
      </span>
    </div>
    <div class="comment-meta">
      <p class="comment-author">{{ comment.author }}</p>
      <p class="comment-date">{% include date.html date=comment.date front_word="Posté" %}</p>
    </div>
    </div>
    <div class="{{ comment.author | comment_class_author: "comment-content", "comment-owner-right" }}">
    {{ comment.text | markdownify | mention }}
    </div>
  </section>
  {%- endfor -%}
</section>