<footer class="site-footer h-card">
  {%- assign activate_paginator =  -%}
  <div class="wrapper{% if include.paginator == nil %} wrapper-end{% endif %}">
    {%- if include.paginator.total_pages > 1 -%}
    {%- include pager.html paginator=include.paginator -%}
    {%- endif -%}
    <ul class="pager">
      <li>
        <a href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}">
          <svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg>
        </a>
      </li>
    </ul>
  </div>

  <div class="scroll-to-top">
    <a data-scroll href="#page-header">
      <svg class="icon icon-top"><use xlink:href="#icon-top"></use></svg>
    </a>
  </div>
</footer>