<style>
    .image-gallery {overflow: auto; margin-left: -1%!important;}
    .image-gallery li {float: left; display: block; margin: 0 0 1% 1%; width: 19%;}
    .image-gallery li a {text-align: center; text-decoration: none!important; color: #777;}
    .image-gallery li a span {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 3px 0;}
    .image-gallery li a img {width: 100%; display: block;}
</style>

<ul class="image-gallery">
    {% assign gallery = site.data.galleries[include.gallery] %}
    {% for image in gallery.images %}
    {%- assign image_name = (image.file | split: ".")[0]  %}
    <li>
        <a href="{{ image.path }}"
           class="glightbox-gallery"
           data-gallery="{{ include.gallery }}"
           data-description=".custom-desc-{{ image_name }}">
            <img
                class="image"
                src="{{ image.thumb }}"
                alt="{{ image.title }}">
        </a>
        <div class="glightbox-desc custom-desc-{{ image_name }}">
            <p>{{ image.title }}</p>
        </div>
    </li>
   {% endfor %}
</ul>
