{%- assign post = include.post -%}
{%- assign comment_collection = post.name | remove: '.md' -%}
{%- assign category = post.categories | first | slugify: "latin" -%}
<article class="post-card">
  <div class="post-card-outer">
    <div class="post-card-inner">
      {%- if include.force_category -%}
      {%- assign real_category = include.force_category -%}
      {%- else -%}
      {%- assign real_category = category -%}
      {%- endif -%}
      <header class="post-card-header {{ real_category | slugify: "latin" }}">
        <div>
          <time datetime="{{ post.date }}">
            <svg class="icon icon-envelop">
              <use xlink:href="#icon-envelop"></use>
            </svg> {% include date.html date=post.date front_word="Posté" %}</time>
          {%- if post.comments_count > 0 -%}
          <span class="post-card-header-separator">|</span>
          <a href="{{ post.url }}#comments">
            <svg class="icon icon-bubbles4">
              <use xlink:href="#icon-bubbles4"></use>
            </svg> {{ post.comments_count | pluralize: "commentaire", "commentaires" }}
          </a>
          {%- endif -%}
        </div>
        <h1><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h1>
      </header>
      <section class="post-card-categories">
        {%- for category in post.categories -%}
        {%- include post-card-category.html category=category -%}
        {%- endfor -%}
      </section>
      <section class="post-card-excerpt">
        {{ post.excerpt }}
      </section>
    </div>
    {%- if post.image -%}
    <div class="post-card-header-img">
      <div class="post-card-header-img-wrapper">
        <img src="{{ post.image }}">
      </div>
      {%- include post-card-footer.html post=post -%}
    </div>
    {%- endif -%}
  </div>
  {%- if post.image == nil -%}
  {%- include post-card-footer.html post=post -%}
  {%- endif -%}
</article>