---
layout: default
---

{%- assign category = page.categories | first | slugify: "latin" -%}

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">
      <span class="post-title-icon">
        <svg class="icon icon-{{ category }}"><use xlink:href="#icon-{{ category }}"></use></svg>
      </span>
      <span class="post-title-text">{{ page.title | escape }}</span>
    </h1>
    <p class="post-meta">
      <svg class="icon icon-envelop"><use xlink:href="#icon-envelop"></use></svg>
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{% include date.html date=page.date front_word="Posté" %}</time>
      {%- if page.modified_date -%},
      <time class="dt-modified" datetime="{{ page.modified_date | date_to_xmlschema }}" itemprop="dateModified">{% include date.html date=page.modified_date front_word="Modifié" %}</time>
      {%- endif -%}
      <span class="post-meta-separator">|</span>
      <svg class="icon icon-clock"><use xlink:href="#icon-clock"></use></svg>
      <span>{{ page.read_time | pluralize: "minute", "minutes" }}<span class="hide-small"> de lecture</span></span>
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% for staff_member in site.staff_members %}
  <h2>
    <a href="{{ staff_member.url }}">
      {{ staff_member.name }} - {{ staff_member.position }}
    </a>
  </h2>
  <p>{{ staff_member.content | markdownify }}</p>
  {% endfor %}

  {%- if page.comments_count > 0 -%}
  {%- include comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>